 //$bodyBg: #fff;
 //$bodyTaskColor: #6c68f6;
 //$bodyH: #a67fef;
 //$hoverButton: #381167;
 //$activeButton: #1E0141;


 $bodyBg: #333;
 $bodyTaskColor: #cfd183;
 $bodyH: #a9ac40;
 $hoverButton: #2B2B08;
 $activeButton: #222207;