<div class="todo-list border">
    <h2 class="todo-list__header header">Active tasks</h2>
    <ul class="todo-list__ul">
        @for (task of tasksArray; track task.id) {
            <app-todo-item
                    [taskToDisplay]="task"
                    (markTaskAsCanceledEvent)="markTaskAsCanceled($event)"
                    (markTaskAsCompEvent)="markTaskAsComp($event)"
            >
            </app-todo-item>
        }
    </ul>
    <div class="todo-list__line"></div>
    <h2 class="todo-list__header header">Completed tasks</h2>
</div>

