<ul class="todo__list">
    @for (task of tasksArray; track task.id) {
        <app-todo-item
                [taskToDisplay]="task"
                [isCompleted]="false"
                (markTaskAsCanceledEvent)="markTaskAsCanceled($event)"
                (markTaskAsCompEvent)="markTaskAsComp($event)">
        </app-todo-item>
    }
    @for (compTask of compTasksArray; track compTask.id) {
        <app-todo-item
                [taskToDisplay]="compTask"
                [isCompleted] ="true">
        </app-todo-item>
    }
</ul>

