.delete-buttons {
  max-width: 612px;
  height: 58px;
  font-size: 17px;
  display: flex;
  justify-content: space-between;

  &__item {
    width: 32%;
    height: 100%;
    color: #a67fef;
    font-weight: bold;
  }
}

