.delete-buttons {
  max-width: 612px;
  height: 58px;
  font-size: 17px;
  display: flex;
  justify-content: space-between;

  &__item {
    width: 32%;
    height: 100%;
    color: var(--headerColor);
    font-weight: bold;
    @media (hover: hover) {
      &:hover {
        background-color: var(--hoverButtonColor);
      }
    }
    &:active {
      background-color: var(--activeButtonColor);
      -webkit-tap-highlight-color: transparent;
    }
  }

  @media screen and (max-width: 647px) {
    & {
      height: 68px;
    }
  }

  @media screen and (max-width: 488px) {
    & {
      flex-direction: column;
      height: 174px;
      gap: 8px;
    }

    &__item {
      width: 100%;
    }
  }

}