.form {
  display: flex;
  justify-content: space-between;
  max-width: 612px;
  height: 58px;

  &__input {
    width: 90%;
    height: 100%;
    margin-left: 12px;
    color: var(--taskColor);
    background-color: var(--bgColor);
    border: none;
    font-size: 1.2em;
    outline: transparent;

  }

  &__input::placeholder {
    color: var(--headerColor);
  }
}