.todo-item {
  list-style-type: decimal;
  text-align: center;

  &__flex-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: left;
  }

  &__text {
    width: 84%;
  }

  &__check-box {
    display: flex;
    align-self: flex-start;
  }

  &_completed {
    text-decoration: line-through;
    list-style-type: none;
  }

}