.todo-item {
  list-style-type: decimal;
  text-align: center;
}

.todo-item__flex-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: left;
}

.todo-item__text {
  width: 84%;
}

.todo-item__check-box {

}

.todo__item_completed {
  text-decoration: line-through;
  list-style-type: none;
}