<li class="todo-item" [class.todo-item_completed]="taskToDisplay.completed">
    <div class="todo-item__flex-wrapper">
        <p class="todo-item__text"> {{taskToDisplay.title}} </p>
        @if (!taskToDisplay.completed) {
            <div class="todo-item__check-box">
                <button class="todo-item__comp-button button" (click)="markTaskAsComp()">
                    <img
                            [ngSrc]="(currentMode$ | async) === 'light' ?
                            './assets/images/svg/done-icon.svg' :
                            './assets/images/svg/done-icon_dark.svg'"
                            width="32" height="32"
                            priority
                            alt="Complete task icon"
                    >
                </button>
                <button class="todo-item__cancel-button button" (click)="markTaskAsCancel()">
                    <img
                            [ngSrc]="(currentMode$ | async) === 'light' ?
                            './assets/images/svg/cancel-icon.svg' :
                            './assets/images/svg/cancel-icon_dark.svg'"
                            width="32" height="32"
                            priority
                            alt="Cancel task icon"
                    >
                </button>
            </div>
        }
        @if (taskToDisplay.completed) {
            <div class="todo-item__check-box">
                <button class="todo-item__return-button button" (click)="returnTaskFromComp()">
                    <img
                            [ngSrc]="(currentMode$ | async) === 'light' ?
                            './assets/images/svg/return-icon.svg' :
                            './assets/images/svg/return-icon_dark.svg'"
                            width="32" height="32"
                            priority
                            alt="Complete task icon"
                    >
                </button>
            </div>
        }
    </div>
</li>
