.app {
  width: 612px;
  display: flex;
  flex-direction: column;

  &__header {
    text-align: center;
    margin-bottom: 24px;
  }
  
  &__input {
    margin-bottom: 24px;
  }
  
  &__todo-list {
    margin-bottom: 24px;
  }
}