.app {
  max-width: 612px;
  min-width: 300px;
  display: flex;
  flex-direction: column;
  gap: 24px;

  &__header {
    text-align: center;
  }

  &__wrapper {
    position: relative;
  }

  @media screen and (max-width: 488px) {
    gap: 12px;
  }
}