.app {
  max-width: 612px;
  min-width: 300px;

  display: flex;
  flex-direction: column;

  &__header {
    text-align: center;
    margin-bottom: 24px;
  }
  
  &__input {
    margin-bottom: 24px;
  }
  
  &__todo-list {
    margin-bottom: 24px;
  }
}