<div class="app">
    <h1 class="app__header header">MY tasks</h1>
    <app-input
            class="app__input"
            (addTaskEvent)="pushActiveTaskInArray($event)">
    </app-input>
    <app-todo-list
            class="app__todo-list"
            [tasksArray]="tasksArray"
            (markTaskAsCanceledEvent) = "deleteTask($event)"
            (markTaskAsCompEvent)="markTaskAsComp($event)">
    </app-todo-list>
    <app-delete-buttons
            class="app__delete-buttons"
            [tasksArray]="tasksArray"
    >
    </app-delete-buttons>
</div>