<form class="form" novalidate [formGroup]="toDoForm">
    <label for="input" class="form__label visually-hidden">Enter a task</label>
    <input class="form__input" formControlName = "task" placeholder="Input new task here" id="input">
    <button
            class="form__button button"
            [disabled]="toDoForm.invalid"
            (click)="addTask(toDoForm.value.task)"
    >
        <img
                ngSrc="./assets/images/add-icon.png"
                width="32" height="32"
                priority
                alt="Add task button"
        >
    </button>
</form>