.form {
  display: flex;
  justify-content: space-between;
  max-width: 612px;
  height: 58px;
  padding: 6px;
  border: 2px solid black;
  border-radius: 20px;
}

.form__input {
  width: 80%;
  height: 100%;
  border: none;
  font-size: 1.2em;
  outline: transparent;
}

