@import "app/styles/resetCSS";
@import "app/styles/dark-light-themes.scss";
@import "app/styles/variables";

body {
  font-family: "LXGW WenKai Mono TC", monospace;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  color: var(--taskColor);
  min-width: 340px;
  background-color: var(--bgColor);
}

.wrapper {
  margin: 0 auto;
  padding: 0 20px;
  max-width: 682px;
  min-width: 340px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.header {
  color: var(--headerColor);
}

.button {
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
}

.border {
  border: 2px solid var(--headerColor);
  padding: 6px;
  border-radius: 20px;
}