@import "app/styles/resetCSS";

$bgColor_light: #fff;
$taskColor_light: #6c68f6;
$headerColor_light: #a67fef;
$hoverButton_light: #381167;
$activeButton_light: #1E0141;


$bgColor_dark: #333;
$taskColor_dark: #cfd183;
$headerColor_dark: #a9ac40;
$hoverButton_dark: #2B2B08;
$activeButton_dark: #222207;

@mixin lighten() {
  --bgColor: #{$bgColor_light};
  --taskColor: #{$taskColor_light};
  --headerColor: #{$headerColor_light};
  --hoverButtonColor: #{$hoverButton_light};
  --activeButtonColor: #{$activeButton_light}
}

@mixin darken() {
  --bgColor: #{$bgColor_dark};
  --taskColor: #{$taskColor_dark};
  --headerColor: #{$headerColor_dark};
  --hoverButtonColor: #{$hoverButton_dark};
  --activeButtonColor: #{$activeButton_dark}
}

body.dark {
  @include darken()
}

body.light {
  @include lighten()
}

body {
  font-family: "LXGW WenKai Mono TC", monospace;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  color: var(--taskColor);
  min-width: 340px;
  background-color: var(--bgColor);
}

.wrapper {
  margin: 0 auto;
  padding: 0 20px;
  max-width: 654px;
  min-width: 340px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.header {
  color: var(--headerColor);
}

.button {
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
}

.border {
  border: 2px solid var(--headerColor);
  padding: 6px;
  border-radius: 20px;
}